<!DOCTYPE html>
<html lang="en">

<head>
  {{> head}}
</head>

<body>

  <!-- ======= Header ======= -->
  {{> headers }}

  <!-- ======= Hero Section ======= -->
  {{> hero }}

  <main id="main">

    <!-- ======= Clients Section ======= -->
    {{> client }}

    <!-- ======= About Section ======= -->
    {{> about }}

    <!-- ======= Counts Section ======= -->
    {{> count }}

    <!-- ======= Services Section ======= -->
    {{> service }}

    <!-- ======= Cta Section ======= -->
    {{> cta}}

    <!-- ======= Testimonials Section ======= -->
    {{> testimonial}}


    <!-- ======= Portfolio Section ======= -->
    {{> portafolio}}

    <!-- ======= Team Section ======= -->
    {{> team}}

    <!-- ======= Pricing Section ======= -->
    {{> pricing}}

    <!-- ======= Frequently Asked Questions Section ======= -->
    {{> question}}

    <!-- ======= Contact Section ======= -->
    {{> contact}}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {{> footer}}

</body>

</html>